{{ $current := .Page.RelPermalink }}

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body sticky-top" data-bs-theme="dark">  
  <div class="container" style="max-width: 1000px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link {{ if eq $current "/" }}fw-bold{{ end }}">Home</a>
        </li>
        <li class="nav-item">
          <a href="/blog" class="nav-link {{ if eq $current "/blog/" }}fw-bold{{ end }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq $current "/uses/" }}fw-bold{{ end }}" href="/uses/">Uses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq $current "/connect/" }}fw-bold{{ end }}" href="/connect/">Connect</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
