{{ define "main" }}
  {{ partial "header.html" . }}


  <main class="container mw-content pt-3">
    <div style="padding: 0 1rem;">
      <h1>{{ .Title }}</h1>
      <p>{{ .Date | time.Format "2006-01-02" }}</p>
    </div>

    <div class="content">
      {{ with .Params.cover }}
        {{ $cover := . }}
        {{ with $.Resources.GetMatch $cover }}
          <img src="{{ .RelPermalink }}" alt="Cover image" class="mb-3 w-100" />
        {{ end }}
      {{ end }}
      {{ .Content }}
    </div>
  </main>
{{ end }}
