body {
  font-family: "Inter", Roboto, Helvetica, Arial;
}

p {
  font-size: 1.2rem;
}

.photo {
  width: 24rem;
}

.content-wrapper img {
  max-width: 100%;
}

.content-wrapper pre {
  padding: 1rem;
}
