{{ define "main" }}
  <div class="d-flex flex-column min-vh-100">
    {{ partial "header.html" . }}

    <main class="container mw-content pt-3">
      <h3>Lenovo T430</h3>

      <p>
        My daily driver laptop for software engineering work. This reliable
        ThinkPad from Lenovo features a durable build, excellent keyboard, and
        long battery life that supports my workflow whether I'm coding at home
        or on the go.
      </p>

      <h3>AstroNvim</h3>

      <p>
        AstroNvim is my preferred Neovim configuration framework. It provides a
        modern, extensible editing environment with a curated set of plugins and
        a clean interface that enhances my productivity in writing code, editing
        files, and managing projects.
      </p>
    </main>
  </div>
{{ end }}
